{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>forms to docx</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/forms-app.css" %}">
    {% block extra_css %}
    {% endblock%}

</head>
<body>
    <section class="row">
        <header class="large-12 columns">
            <h1>Welcome to forms to docx.</h1>
            <hr>
        </header>
    </section>

    <section class="row">

        <div class="large-8 columns">
            {% block content %}{% endblock %}
        </div>

        <div class="large-4 columns">
            <h3>About Me</h3>
            <p>I am a Python developer and I like Django.</p>
        </div>

    </section>

    {%block javascript%}
    {%endblock%}
</body>
</html>